/* src/index.css ou App.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.fire-monitor-container {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.controls {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-bottom: 20px;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.controls label {
    font-weight: bold;
    margin-right: 5px;
}

.controls input[type="date"],
.controls button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
}

.controls button {
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.controls button:hover {
    background-color: #0056b3;
}

.controls button:disabled {
    background-color: #a0c9f0;
    cursor: not-allowed;
}


#map-container {
    height: 600px; /* Altura do mapa */
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
}

/* Opcional: Adicionar estilos para os marcadores de foco se quiser algo diferente do Leaflet padrão */
.focos-marker {
    display: flex;
    justify-content: center;
    align-items: center;
}